<%= form_with model: @hairstyle, url:hairstyles_path, local: true do |f| %>
  <div class="hairstyle-box">
    新規ヘアスタイル投稿
    <%= f.text_field :hairstylename, class:"hairstylename", placeholder:"ヘアスタイル名" %>
    <%= f.text_area :detail, class:"detail", placeholder:"ヘアスタイルについて" %>
    <%= f.collection_select(:haircolor_id, Haircolor.all, :id, :name, {}, {class:"haircolor-select"}) %>
      <div class="field">
        <%= f.label :image, "ヘアスタイル写真" %><br />
        <%= f.file_field :image, id:"hairstyle_image" %>
      </div>
    <%= f.submit "投稿する" ,class:"btn" %>
  </div>
<% end %>